*,
html {
  margin: 0;
  padding: 0;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.traveler-dashboard-view {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.traveler-header {
  display: flex;
  width: 100vw;
  height: 20vh;
  justify-content: space-between;
  border-bottom: solid 2px;
  background-image: url(https://thumbs.dreamstime.com/z/flying-plane-blue-sky-banner-background-tropical-leaves-toy-hand-flies-to-travel-summer-vacation-relaxation-tours-222613249.jpg);
}

.welcome-text-container {
  height: 20vh;
}

.welcome-text {
  font-size: 1.5rem;
  margin: 10px;
}

.sign-out-button-container {
  display: flex;
  justify-content: flex-end;
}

.sign-out-button {
  margin-right: 25px;
}

.header-button {
  margin-top: 30px;
  height: 35px;
  width: 160px;
  font-weight: bold;
  border-radius: 15px;
  box-shadow: 3px 3px 3px black;
  opacity: .7;
}

.total-spent-this-year {
  margin: 20px;
}

.traveler-trips-display {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  overflow-y: auto;
  background: rgb(108, 155, 186);
  background: linear-gradient(360deg, rgba(108, 155, 186, 1) 0%, rgba(169, 198, 217, 1) 39%, rgba(247, 228, 191, 1) 100%);
  background-size: cover;
}

.trips-row {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.current-traveler-past-trips {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.current-traveler-future-trips {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.current-traveler-pending-trips {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.trip-card {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 200px;
  border: solid 1px;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.card-image {
  height: 125px;
}

.new-trip-form-view {
  height: 80vh;
  display: flex;
  flex-direction: column;
  width: 100vw;
  background: rgb(108, 155, 186);
  background: linear-gradient(360deg, rgba(108, 155, 186, 1) 0%, rgba(169, 198, 217, 1) 39%, rgba(247, 228, 191, 1) 100%);
}

.new-trip-form-title {
  margin-left: 10px;
  margin-top: 10px;
}

.new-trip-form {
  margin: 10px;
}

.form-button {
  height: 35px;
  width: 160px;
  font-weight: bold;
  margin: 5px;
  border-radius: 15px;
  box-shadow: 3px 3px 3px black;
}

.login-view {
  background-color: #4a4f52;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-error-message {
  font-size: 1.2rem;
  color: red
}

.pointer-on-hover:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}